{% extends "base.html" %} {% block content %}

<div>
  <h1>How to play</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    maxime cum error sunt inventore, vitae blanditiis ratione quidem ex, rerum
    ea laudantium odit quo eligendi culpa laboriosam ducimus expedita unde.
    Tenetur officiis, nulla laborum excepturi pariatur voluptatem, ex eaque eum
    sint harum quam nam ipsam aperiam mollitia, odit tempore dolor id beatae
    fuga dignissimos. Voluptatum exercitationem id praesentium culpa
    necessitatibus. Labore quo minus non laborum illo ratione, mollitia
    recusandae tenetur delectus, quia soluta? Molestias corrupti, dolorem
    molestiae nulla iste consectetur, maxime possimus pariatur, repellendus cum
    hic cupiditate distinctio officia! Nemo.
  </p>
  <ul>
    <li><a href="{{ url_for('login')}}">Login</a></li>
    <li><a href="{{ url_for('game')}}">Start the game</a></li>
  </ul>
</div>

{% endblock content %}
